
{{!-- SECTION IMAGE --}}
<div>
  <div class="background-section"></div>
</div>
{{!-- SECTION IMAGE --}}






{{!-- SEARCH DIV --}}
<div class="search">
  {{!-- <fieldset> --}}
  <section class="search-div">
  <input class="search-menu" type="text" name="name" value="" placeholder="Search Menu Items">
  </section>
  {{!-- </fieldset> --}}
</div>
{{!-- SEARCH DIV --}}



{{!-- BODY --}}
<div class="body-container row">
{{!-- MENU ITEMS --}}
<div class="menu-container small-8 columns">
</div>
{{!-- MENU ITEMS --}}
{{!-- ORDER BAR --}}
<div class="order-container small-3 columns">
</div>
{{!-- ORDER BAR --}}
</div>
{{!-- BODY --}}
